#body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar{
    background-color: aliceblue;
    a{
        color: black;
    }
}
#home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url(https://assets-v2.scaler.com/assets/academy/svg/banner-background-34136d3a9ddff172e6bae6e3d8283c452231dcda2196b055bfa2e34e222754b7.svg);
    background-position: center;
    width: 100%;
    padding: 200px 10px;
    gap: 200px;

    #home1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 30px;

        #home1head {
            font-size: 30px;
            font-weight: bold;
            color: white;
            width: 350px;
        }

        #home1sub {
            font-size: 18px;
            color: rgba(255, 255, 255, 0.682);

            b {
                color: white;
                font-size: 25px;
                font-weight: bold;
                border-bottom: 3px white solid;
            }
        }

        #home1btn {
            display: flex;
            gap: 10px;

            #home1btn1 {
                padding: 10px 20px;
                font-size: 15px;
                color: white;
                border: none;
                background-color: rgb(184, 24, 24);
                border-radius: 3px;
                cursor: pointer;
            }

            #home1btn2 {
                padding: 10px 20px;
                font-size: 15px;
                color: blue;
                border: none;
                background-color: white;
                border-radius: 5px;
                cursor: pointer;
            }

        }

        #home1body {
            display: flex;
            gap: 10px;
            color: white;
            font-size: 18px;

            a {
                color: orange;
            }
        }
    }

    #home2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: white;
        gap: 10px;
        padding: 30px 30px;
        border-radius: 10px;

        #home2head {
            font-size: 30px;
            color: black;

            b {
                color: brown;
            }
        }

        #name,
        #email {
            width: 300px;
            height: 30px;
        }

        #phone {
            display: flex;
            flex-direction: row;
            gap: 10px;

            #p1 {
                height: 35px;
                width: 50px;
            }

            input {
                height: 30px;
                width: 240px;
            }
        }

        #grad {
            display: flex;
            flex-direction: row;
            gap: 10px;

            input {
                height: 30px;
                width: 90px;
            }

            select {
                height: 35px;
                width: 200px;
            }
        }

        select {
            height: 35px;
            width: 310px;
        }

        #mix {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 25px;

            button {
                color: white;
                background: rgb(184, 24, 24);
                border: none;
                border-radius: 5px;
                padding: 10px 5px;
            }

            #mix1 {
                display: flex;
                flex-direction: row;
                gap: 10px;

                img{
                    height: 40px;
                    width: 40px;
                }

                #seat {
                    color: rgb(184, 24, 24); 
                }
            }
        }

        #home21 {
            display: flex;
            flex-direction: row;
            #home210 {
                display: flex;

                a {
                    color: rgb(16, 193, 193);
                }
            }
        }
    }
}

#program {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px 100px;
    background: white;
    box-shadow: 1px 100px 100px rgb(245, 245, 245);
    margin-top: -150px;

    #programhead {
        font-size: 30px;
    }

    .card-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 10px;

            img {
                height: 70px;
                width: 70px;
            }

            p {
                font-size: 20px;
                text-align: center;
                width: 190px;
                color: white;
            }
        }

        #card1 {
            background: rgb(12, 152, 207);
            width: 300px;
        }

        #card2 {
            background: deeppink;
            width: 300px;
            height: 180px;
        }

        #card3 {
            background: rgba(0, 128, 0, 0.712);
            width: 300px;
            height: 180px;
        }

        #card4 {
            background: rgba(12, 152, 207, 0.758);
            width: 300px;
            height: 185px;
        }

        #card5 {
            background: orange;
            width: 300px;
            height: 190px;
        }

        #card6 {
            background: rgba(128, 0, 128, 0.773);
            width: 300px;
            height: 190px;
        }
    }
}

#flexible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 50px;

    #flexiblehead {
        font-size: 30px;

        b {
            border-bottom: 2px rgb(22, 153, 205) solid;
        }
    }

    #flexiblesub {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;

        #card1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px rgba(128, 128, 128, 0.736) solid;
            border-radius: 10px;
            gap: 10px;

            img {
                height: 90px;
                width: 90px;
            }

            #img1 {
                height: 70px;
            }

            #cardhead {
                font-weight: bold;
                font-size: 22px;
            }

            #cardsub {
                font-size: 18px;
                color: rgba(0, 0, 0, 0.668);
                width: 300px;
                text-align: center;
            }
        }
    }
}

#curriculum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(135, 207, 235, 0.734);
    width: 100%;
    gap: 30px;
    padding: 20px;

    #curriculumhead {
        font-size: 30px;

        a {
            font-weight: bold;
        }

        b {
            border-bottom: 2px rgb(15, 169, 230) solid;
        }
    }

    #currmix1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;

        #curr {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: white;
            padding: 20px 20px;
            gap: 100px;

            #curr1 {
                display: flex;
                flex-direction: column;
                gap: 10px;

                #currhead {
                    font-size: 30px;
                }
            }

            #radio {
                height: 40px;
                width: 40px;
            }
        }
        #curr:hover {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: white;
            padding: 20px 20px;
            gap: 100px;
            background-color: rgba(135, 207, 235, 0.734);
    
            #curr1 {
                display: flex;
                flex-direction: column;
                gap: 10px;
    
                #currhead {
                    font-size: 30px;
                }
            }
    
            #radio {
                height: 40px;
                width: 40px;
            }
        }
    }



    #currmix2 {
        display: flex;
        flex-direction: row;
        gap: 50px;

        #currmix21 {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 20px;

            #currall1 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: white;
                padding: 10px 20px;
                gap: 20px;
                border-radius: 10px;

                #curr {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    #curr1 {
                        font-size: 15px;
                    }

                    #curr2 {
                        font-size: 22px;
                    }
                }

                #mon {
                    font-size: 15px;
                }
            }

            #currall1:hover {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: rgb(22, 160, 214);
                color: white;
                padding: 10px 20px;
                gap: 20px;
                border-radius: 10px;

                #curr {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    #curr1 {
                        font-size: 15px;
                    }

                    #curr2 {
                        font-size: 22px;
                    }
                }

                #mon {
                    font-size: 15px;
                }
            }

            #currall2 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: white;
                padding: 10px 20px;
                gap: 60px;
                width: 91%;
                border-radius: 10px;

                #curr {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    #curr1 {
                        font-size: 15px;
                    }

                    #curr2 {
                        font-size: 22px;
                    }
                }

                #mon {
                    font-size: 15px;
                }
            }

            #currall2:hover {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: rgb(22, 160, 214);
                padding: 10px 20px;
                gap: 60px;
                width: 91%;
                border-radius: 10px;

                #curr {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    #curr1 {
                        font-size: 15px;
                    }

                    #curr2 {
                        font-size: 22px;
                    }
                }

                #mon {
                    font-size: 15px;
                }
            }

            #currall3 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: white;
                padding: 10px 20px;
                gap: 270px;
                width: 91%;
                border-radius: 10px;

                #curr {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    #curr1 {
                        font-size: 15px;
                    }

                    #curr2 {
                        font-size: 22px;
                    }
                }

                #mon {
                    font-size: 15px;
                }
            }

            #currall3:hover {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: rgb(22, 160, 214);
                padding: 10px 20px;
                gap: 270px;
                width: 91%;
                border-radius: 10px;

                #curr {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    #curr1 {
                        font-size: 15px;
                    }

                    #curr2 {
                        font-size: 22px;
                    }
                }

                #mon {
                    font-size: 15px;
                }
            }

            #currall4 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: white;
                padding: 10px 20px;
                gap: 60px;
                width: 91%;
                border-radius: 10px;

                #curr {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    #curr1 {
                        font-size: 15px;
                    }

                    #curr2 {
                        font-size: 22px;
                    }
                }

                #mon {
                    font-size: 15px;
                }
            }

            #currall4:hover {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: rgb(22, 160, 214);
                padding: 10px 20px;
                gap: 60px;
                width: 91%;
                border-radius: 10px;

                #curr {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    #curr1 {
                        font-size: 15px;
                    }

                    #curr2 {
                        font-size: 22px;
                    }
                }

                #mon {
                    font-size: 15px;
                }
            }

            #currall5 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: white;
                padding: 10px 20px;
                gap: 130px;
                width: 91%;
                border-radius: 10px;

                #curr {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    #curr1 {
                        font-size: 15px;
                    }

                    #curr2 {
                        font-size: 22px;
                    }
                }

                #mon {
                    font-size: 15px;
                }
            }

            #currall5:hover {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: rgb(22, 160, 214);
                padding: 10px 20px;
                gap: 130px;
                width: 91%;
                border-radius: 10px;

                #curr {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    #curr1 {
                        font-size: 15px;
                    }

                    #curr2 {
                        font-size: 22px;
                    }
                }

                #mon {
                    font-size: 15px;
                }
            }

            #currall6 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: white;
                padding: 10px 20px;
                gap: 260px;
                width: 91%;
                border-radius: 10px;

                #curr {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    #curr1 {
                        font-size: 15px;
                    }

                    #curr2 {
                        font-size: 22px;
                    }
                }

                #mon {
                    font-size: 15px;
                }
            }

            #currall6:hover {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: rgb(22, 160, 214);
                padding: 10px 20px;
                gap: 260px;
                width: 91%;
                border-radius: 10px;

                #curr {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    #curr1 {
                        font-size: 15px;
                    }

                    #curr2 {
                        font-size: 22px;
                    }
                }

                #mon {
                    font-size: 15px;
                }
            }
        }

        #currmix3 {
            display: flex;
            flex-direction: column;
            gap: 60px;

            #currmix31 {
                display: flex;
                flex-direction: column;
                background-color: rgb(22, 160, 214);
                padding: 20px 50px;
                gap: 10px;

                #curr3head {
                    color: white;
                    font-size: 20px;
                    border-bottom: 2px white solid;
                }

                #curr3sub {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    a {
                        font-size: 20px;
                        color: white;
                        gap: 10px;
                    }

                    i {
                        color: white;
                        font-size: 8px;
                    }
                }

                #curr3sub1 {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    a {
                        font-size: 20px;
                        color: white;
                        gap: 10px;
                    }

                    i {
                        color: white;
                        font-size: 8px;
                    }
                }
            }

            button {
                color: white;
                background: rgb(250, 3, 69);
                border: none;
                padding: 10px 20px;
                font-size: 15px;
                cursor: pointer;
            }
        }
    }
}

#take {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: navy;

    #take1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 20px;

        #takehead {
            font-size: 30px;
            font-weight: bold;
            color: white;
        }

        #takesub {
            color: white;
        }

        #takebody {
            display: flex;
            flex-direction: row;

            #takebody1 {
                display: flex;
                flex-direction: row;
                color: white;
                width: 300px;

                i {
                    color: orange;
                }
            }
        }

        button {
            color: white;
            background: rgb(172, 18, 18);
            cursor: pointer;
            padding: 20px 40px;
            border-radius: 10px;
            border: none;
            font-size: 20px;
        }
    }

    img {
        height: 300px;
        width: 500px;
    }
}
#alumni{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    p{
        font-size: 35px;
    }
    #div5{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        gap: 20px;
        padding-left: 80px;
        padding-right: 80px;
        p{
            font-size: 20px;
            color: gray;
        }
    }
    #card-group{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 80px;
        padding-right: 80px;
        border: 5px;
        background-color: azure;
        gap: 30px;
        #card{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 20px 50px;
            #card-body{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                image{
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}
button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
#reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #r0 {
      font-size: 30px;
      width: 850px;
    }
    #r1 {
      font-size: 15px;
    }
    #cards {
      width: 85vw;
      /* border: 2px solid black; */
      gap:20px;
      display: grid;
      overflow-x: scroll;
      grid-template-columns: repeat(12,1fr);
      padding: 10px;
      box-shadow: none;
      .card {
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           width: 350px;
           padding: 30px;
           gap: 10px;
           #h1 {
               display: flex;
               flex-direction: row;
               justify-content: start;
               align-items: start;
               gap: 20px;
               #headers {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    height: 120px;
                    #m0 {
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: start;
                        #m1 {
                           font-size: 16px;
                           width: 120px;
                        }
                    }
                }
            }
        }
    }
}
#teaching {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    #t0 {
      font-size: 25px;
    }
    #p {
      text-align: center;
      font-size: 20px;
      width: 900px;
    }
    #t1 {
    }
    #carouselExample {
      width: 100%;
      .carousel-inner {
        .carousel-item {
          #cards {
            gap: 20px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .card {
              .card-header {
              }
              .card-body {
                .card-title {
                  color: black;
                  .card-text {
                  }
                }
              }
              .card-footer{
                font-size: 20px;
                color: #0744ad;
              }
              .card-footer:hover {
                color: skyblue;
              }
            }
          }
        }
      }
    }
}
#scaler {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    background-color: skyblue;
    #s1 {
      border-radius: 100%;
      padding: 30px;
      background-color: lightskyblue;
    }
    #s2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      #s3 {
        font-size: 30px;
      }
      #s4 {
        font-size: 18px;
      }
    }
    #s5 {
      button {
        height: 40px;
        width: 200px;
        border-radius: 5px;
        border: none;
        background-color: white;
        color: black;
      }
    }
}
#next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    background-color: rgba(173, 216, 230, 0.432);
    #n1 {
      font-size: 31px;
    }
    #n2 {
      font-size: 30px;
    }
    #p {
      font-size: 17px;
      width: 80%;
      b {
        color: #358;
      }
    }
    #n3 {
      font-size: 18px;
      color: #358;
    }
    #n4 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      #n5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 40px;
        padding: 20px 0px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        #n6 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          #n7 {
            font-size: 20px;
            width: 200px;
          }
        }
      }
      #n8 {
        padding: 20px;
        background-color: lightskyblue;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
      }
    }
}
#services{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:50px;
    gap:10px;
    box-shadow: none;
    #s1{
      font-size:30px;
      font-weight: bold;
    }
    #s2{
      font-size: 17px;
      color: gray;
    }
    #cards{
      display: flex;
      flex-direction:row;
      justify-content: center;
      align-items: center;
      gap:20px;
      box-shadow: none;
      .card{
        height:200px;
        width:150px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap:10px;
        img{
          height:70px;
          width:70px;
          align-items: center;
          text-align: center;
          margin-top: 20px;
        }
        .card-body{
          .card-text{
            width:220px;
            color: gray;
          }
        }
      }
    }
}
#roadmap{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#cae0fec1 ;
    gap:50px;
    width:100%;
    padding:20px;
    #r1{
      font-size: 30px;
      width:1000px;
      text-align:center;
    }
    button{
      height:40px;
      width:350px;
      background-color: #e12645;
      color:white;
      border-radius: 5px;
      border:none;
    }
  }
  #learning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #l0{
      font-size: 30px;
      width: 1050px;
      text-align: center;
    }
    #l1{
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      padding: 20px;
      gap: 30px;
      .card{
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: 90px;
          height: 350px;
          width: 470px;
          border-radius: 5px;
          background-image: url(https://assets-v2.scaler.com/assets/academy/svg/carousel-1-f8b2a8715c72d8a7ee95dee86294c20875ab6961b6c5d51c4e4b1ef7ba1f6ce5.svg.gz);
          .card-body{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 20px;

           }
        }
   }
}
#question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    #q1 {
      font-size: 35px;
    }
    #q2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-top: 1px black solid;
      #q3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        border-right: 0px black solid;
        padding: 23px;
        #q4 {
          font-size: 18px;
        }
      }
      #q5 {
        border-left: 1px black solid;
        gap: 20px;
        padding: 20px 40px;
        width: 900px;
        #q6 {
          font-size: 30px;
        }
        #accordionPanelsStayOpenExample {
          width: 900px;
          padding: 20px 20px;
          .accordion-item {
            margin-bottom: 20px;
            .accordion-header button {
              background: none;
              border: none;
              outline: none;
              box-shadow: none;
              font-size: 18px;
            }
            .accordion-button:hover {
              color: skyblue;
            }
          }
        }
      }
    }
}
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #202738;
    padding: 30px 148px;
    gap: 30px;

    #part {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      gap: 130px;
      #tet {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 40px;
        #main {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
         

          #photo {
            width: 100px;
            height: 50px;
          }
          #line {
            color: white;
          }
          #photo2 {
            width: 150px;
            height: 25px;
          }
        }
        #sub {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;

          #block {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: start;
            gap: 8px;
            #first {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              gap: 5px;
              #text {
                color: white;
              }
            }
          }
        }
      }
      #tw1{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        #heading {
          font-size: 25px;
          color: white;
        }
        #matt {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          color: #698fb1;
          #text {
            font-size: 17px;
          }
        }
      }
      #three1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        #heading {
          font-size: 24px;
          color: white;
        }
        #matter {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          color: #698fb1;
          #text {
            font-size: 17px;
          }
        }
      }
      #four1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        #heading {
          font-size: 25px;
          color: white;
        }
        #matter {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          color: #698fb1;

          #line {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: start;
            gap: 10px;
            #text {
              font-size: 17px;
            }
          }
        }
      }
    }
    #part2 {
      color: #698fb1;
    }
    #part3 {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 10px;
      #heading {
        color: white;
        font-size: 23px;
      }
      #lines {
        color: #698fb1;
      }
    }
  }
